<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="asset/css/login.css">
</head>

<body>
    <div class="login-container">
        <div id="login-image">
            <h3>로그인 페이지</h3>
            <p>아이디, 비밀번호를 입력해주세요.</p>
        </div>
        <form action="/login" method="post" id="login-form">
            <label for="user-id">ID:</label>
            <input type="text" id="user-id" name="user-id" required>
            <br>
            <label for="password">PW:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">로그인 하기</button>
        </form>
    </div>
</body>

</html>